<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978727499793-dt6vqvtk653goo28qvba5qjqcpnraj7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978727499793-dt6vqvtk653goo28qvba5qjqcpnraj7e</string>
	<key>API_KEY</key>
	<string>AIzaSyB-ErNdX9xPvaltBm6wbZFu4PyDrPcrYxs</string>
	<key>GCM_SENDER_ID</key>
	<string>978727499793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hazel.Milestone-2-Submission</string>
	<key>PROJECT_ID</key>
	<string>mediumrare-39b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>mediumrare-39b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:978727499793:ios:4d91cdd81f56aea19b19b0</string>
	<key>DATABASE_URL</key>
	<string>https://mediumrare-39b2a.firebaseio.com</string>
</dict>
</plist>
